<section class="[ band  band--tint ]  page-foot">

    <div class="wrapper">
        <div class="layout  layout--middle">
            <div class="layout__item  lap-and-up-one-quarter">
                [insert img here]
            </div
           ><div class="layout__item  lap-and-up-one-quarter">
                <p>Osborn Multimedia is the portfolio, blog and digital playground of Dave Osborn, a front-end developer and designer living in Wigan and working for <a href="//www.angelsolutions.co.uk/">Angel Solutions</a> in Liverpool.</p>
            </div
           ><div class="layout__item  lap-and-up-one-half">
               <ul class="list-social">
                    <li class="list-social__item">
                        <a rel="me" href="https://twitter.com/DaveOsborn_"><i class="icon  icon--round-twitter"></i>Twitter</a>
                    </li>
                    <li class="list-social__item">
                        <a rel="me" href="https://github.com/DaveOsborn"><i class="icon  icon--round-github"></i>Github</a>
                    </li>
                    <li class="list-social__item">
                        <a rel="me" href="https://dribbble.com/DaveOsborn_"><i class="icon  icon--round-dribbble"></i>Dribbble</a>
                    </li>
                    <li class="list-social__item">
                        <a rel="me" href="https://uk.linkedin.com/pub/david-osborn/30/64/b01"><i class="icon  icon--round-linkedin"></i>LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>

<footer class="page-micro">

    <p class="wrapper">
        <small class="page-micro__copy">&copy; 2015 &mdash; Dave Osborn | <a href="{{site.baseurl}}">osbornmultimedia.com</a> | All rights reserved</small>
    </p>

</footer>