<nav class="site-nav">

    <a href="{{ site.baseurl }}/" class="site-nav__home">
        [Logo here]
    </a>

    <ul class="site-nav__list">
        <li class="site-nav__item">
            <a href="{{ site.baseurl }}/about/" class="site-nav__link">About</a>
        </li>
        <li class="site-nav__item">
            <a href="{{ site.baseurl }}/work/" class="site-nav__link">Work</a>
        </li>
        <li class="site-nav__item">
            <a href="{{ site.baseurl }}/blog/" class="site-nav__link">Blog</a>
        </li>
        <li class="site-nav__item">
            <a href="{{ site.baseurl }}/contact/" class="site-nav__link">Get in touch</a>
        </li>
    </ul>

</nav>